@font-face {
  font-family: InriaSerif;
  src: url("../src/Components/assets/fonts/InriaSerif-Regular.ttf");
}
@import "tailwindcss";

@theme{
  --font-InriaSerif: InriaSerif, "sans-serif";
  --breakpoint-xs: 450px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  
}

.theme-transition {
  transition: background-color 500ms ease, color 500ms ease;
}
.theme-transition * {
  transition: border-color 500ms ease, box-shadow 400ms ease, filter 400ms ease;
}
